// Main Palette Colors
$mint: #99c9a2;
$cream: #f5f9d7;
$soft-pink: #e499c4;
$pastel-lime: #ecf791;

// Grayscale Colors
$charcoal: #1b1b1b;
$dark-gray: #737373;
$medium-gray: #a8a7a7;
$light-gray: #dddbd7;
